body {
  font-
}
h4{
;
}
.cajblog{
 border: 2px solid #cccccc;
 padding: 10%;
}
.textblog{
	padding: 3% 4% 6% 4%;
}
.caj-celeste{
	background-color: #EFEFEF;
	box-sizing: border-box;
	padding: 2%;
}
.imgblog{
 border: 2px solid white;
 padding: 2% 0% 2% 2%;
}
