.caja{
	width: 80%;
	border: 1px gray solid;
	border-top: 8px #74A3DB solid;
	padding: 0% 2%;
}


.imgbor{
	background-color: black;
}
/* columnistas andrea*/
.cajacol{
 border: 2px solid #cccccc;
 padding: 4%;
}
.sinrell{
	padding: 3% 4% 6% 4%;
}
.colrell{
	background-color: #EFEFEF;
	box-sizing: border-box;
	padding: 2%;
}
.imgco{
 border: 4px solid white;
 padding: 2% 0% 2% 2%;
}
