/*css de banner y suscribirse*/
/*LizRuelas*/
.banner img {
	width: 100%;
}
.bg-img-rayas {
	background-image: url(../image/trama_square.jpg);
  	background-size: 3px;
	height: 250px;
}
.bg-white {
	background-color: white;
    height: 200px;
    width: 95%;
    position: relative;
    left: 2.5%;
    top: 15%;
}
.img-suscribe {
	position: absolute;
    top: -15%;
    left: 40%;	
}
.bg-white .formulario {
	position: absolute;
	top: 40px;
}
.btn-suscribirse {
	display: inline-block;
	color: white;
	background-color: #BF0127;
	padding: 1% 14%;
}
