/* HEADER*/

header {
	font-size: 12px;
      
}
.enlaces-menu ul li {
   text-decoration: none;
   display: inline;
   text-align: left;font-size: 12px;
   font-weight: bold;
}
      
.enlaces-menu ul li a {
        color: #7D7D7D;
}

.fondo-negro {
	background-color:#111417;
}

.fondo-gris {
	background-color:#E4E7EA;
}

.texto-white {
	color: #FFFFFF;
}

.temas-del-dia li, .temas-del-dia li a {
	list-style: none;
	text-decoration: none;
	color: #000000;
	float: left;
}

.temas-del-dia li a {
		padding: 0% 1%;
}



/* Acá terminar el css del HEADER*/

/*css de banner y suscribirse*/
/*LizRuelas*/
.banner img {
	width: 100%;
}
.bg-img-rayas {
	background-image: url(../image/trama_square.jpg);
  background-size: 3px;
	height: 250px;
	position: relative;
}
.bg-white {
	background-color: white;
	height: 180px;
	width: 95%;
	position: relative;
	left: 2.5%;
	top: 10%;
}