<<<<<<< HEAD
/* columnistas andrea*/
.foncol{
	background-color: #EFEFEF;
	border-top: 4px solid red;
	padding-bottom: 10%;
}   
.viewcol{
	padding-top: 4%;
	padding-bottom: 6%;
}
.cajcol{
	padding-left: 2%;

}
.coltxt{
	margin-top: -1%;
	background-color: red;
	color: white;
		position: relative;
		text-align: center;
		box-sizing: border-box;
}
.text-center1 {
	font-size: 63%;
	text-align: center;
}
.text-center2{
	text-align: center;
	font-size: 78%;
}
.txt{
	padding-right: 15%;
	padding-left: 20%;
}
.boldcol{
	text-decoration: none;
	color: black;
}
.colimg{
	width: 100%;
	border: 4px solid white;
}
=======
>>>>>>> c077cacaf936b5da805ac57187a33fbfc99a42db
/* HEADER*/

/* HEADER*/

header {
	font-size: 12px;
      
}
.enlaces-menu ul li {
   text-decoration: none;
   display: inline;
   text-align: left;font-size: 12px;
   font-weight: bold;
}
      
.enlaces-menu ul li a {
        color: #7D7D7D;
}

.fondo-negro {
	background-color:#111417;
}

.fondo-gris {
	background-color:#E4E7EA;
}

.texto-white {
	color: #FFFFFF;
}

.temas-del-dia li, .temas-del-dia li a {
	list-style: none;
	text-decoration: none;
	color: #000000;
	float: left;
}

.temas-del-dia li a {
		padding: 0% 1%;
}


/* Acá terminar el css del HEADER*/
.foncol{
	background-color: #EFEFEF;
	border-top: 2px solid red;
}   
.viewcol{
	padding-top: 4%;
}
.coltxt{
	width: 20%;
	margin-left: 40%;
	margin-top: -1%;
	background-color: red;
	color: white;
}


/*css de banner y suscribirse*/
/*LizRuelas*/
.banner img {
	width: 100%;
}
.bg-img-rayas {
	background-image: url(../image/trama_square.jpg);
  	background-size: 3px;
	height: 250px;
}
.bg-white {
	background-color: white;
    height: 200px;
    width: 95%;
    position: relative;
    left: 2.5%;
    top: 15%;
}
.img-suscribe {
	position: absolute;
    top: -15%;
    left: 40%;	
}
.bg-white .formulario {
	position: absolute;
	top: 50px;
}
.bg-white .formulario span {
	font-size: 24px;
}
.btn-suscribirse {
	display: inline-block;
	color: white;
	background-color: #BF0127;
	padding: 2% 0;
    width: 89%;
    margin-top: 15px;
    border-radius: 5px;
}
.btn-suscribirse:hover {
	text-decoration: none;
	color: white;
	background-color: #D10D0D;

}
.input {
	background-color: #EEEEEE;
	width: 89%;
	margin-top: 15px;
	padding: 5px;
	border-radius: 5px;
}
/* Preguntas del día ---Janet */
